In [409]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [429]:
api_key = 'AIzaSyBns8O_G0zBz-OD8QsMU8hkYmVDBDxbg44'
data = pd.read_csv('destinations_LP_crawler_Ex5.csv',encoding='unicode_escape')
data.city[22] = 'Krakov'
latlng_list = []
country_list = []
Description_list = []

In [430]:
for city in data.city:
    url_geocode  = 'https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s' % (city,api_key)
    response_geocode = requests.get(url_geocode).json()
    latlng = str(response_geocode['results'][0]['geometry']['location']['lat']) +','+ str(response_geocode['results'][0]['geometry']['location']['lng'])
    latlng_list.append(latlng.replace(" ", ""))
    latlng_list

In [432]:
for place in latlng_list :
    url_geocode  = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=%s&key=%s' % (place,api_key)
    response_geocode = requests.get(url_geocode).json()
    country_list.append(response_geocode['plus_code']['compound_code'].split(',')[-1].replace(' ',''))

In [435]:
data.x = 0
data['x'] = country_list
urls = 'https://www.lonelyplanet.com/'+ data['x'] +'/'+data['city_LP']
urls

0     https://www.lonelyplanet.com/Turkey/mediterran...
1            https://www.lonelyplanet.com/Greece/Athens
2     https://www.lonelyplanet.com/Cyprus/the-republ...
3         https://www.lonelyplanet.com/Thailand/Bangkok
4          https://www.lonelyplanet.com/Spain/Barcelona
                            ...
71            https://www.lonelyplanet.com/Italy/Venice
72          https://www.lonelyplanet.com/Austria/Vienna
73           https://www.lonelyplanet.com/Poland/Warsaw
74        https://www.lonelyplanet.com/Greece/Zakynthos
75      https://www.lonelyplanet.com/Switzerland/Zurich
Length: 76, dtype: object

In [436]:
for url in urls:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    tags = soup('div' , {'class' : "readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg"})
    for tag in tags :
        Description_list.append(tag.get_text())

In [445]:
LP_destinations = pd.DataFrame(columns=['City','Country','Description'])
LP_destinations['City'] = data.city
LP_destinations['Country'] = country_list
LP_destinations['Description'] = Description_list
LP_destinations

         City      Country                                        Description
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw       Poland  A phoenix arisen from the ashes, Poland's capi...
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]